<ion-header>
  <ion-navbar>
    <ion-title>Call De-brief Survey</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="body-content">
  <form [formGroup]="briffSurveyForm">
    <ion-col>
      <ion-item class="profile-setting">
        <ion-label floating>Customer Name</ion-label>
        <ion-input autoscrollElement type="text" formControlName="customer_name" name="customer_name"></ion-input>
        <ion-icon *ngIf="((briffSurveyForm.controls.customer_name.hasError('required') || briffSurveyForm.controls.customer_name.hasError('maxlength') || briffSurveyForm.controls.customer_name.hasError('pattern')) && briffSurveyForm.controls.customer_name.touched) || ((briffSurveyForm.controls.customer_name.hasError('required') || briffSurveyForm.controls.customer_name.hasError('maxlength') || briffSurveyForm.controls.customer_name.hasError('pattern')) && submitAttempt)"
          ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
        <ion-icon *ngIf="(briffSurveyForm.controls.customer_name.valid && briffSurveyForm.controls.customer_name.touched) || (briffSurveyForm.controls.customer_name.valid && submitAttempt)"
          ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
      </ion-item>
      <ion-item class="profile-setting">
        <ion-label floating class="">Role</ion-label>
        <ion-select formControlName="role" name="role">
          <ion-option value="{{r.name}}" *ngFor="let r of roles">{{r.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="profile-setting">
        <ion-label floating>Institute</ion-label>
        <ion-input autoscrollElement type="text" formControlName="institution" name="institution"></ion-input>
        <ion-icon *ngIf="(briffSurveyForm.controls.institution.hasError('required') && briffSurveyForm.controls.institution.touched) || (briffSurveyForm.controls.institution.hasError('required') && submitAttempt)"
          ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
        <ion-icon *ngIf="(briffSurveyForm.controls.institution.valid && briffSurveyForm.controls.institution.touched) || (briffSurveyForm.controls.institution.valid && submitAttempt)"
          ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
      </ion-item>
      <ion-item class="profile-setting">
        <ion-label floating class="">State</ion-label>
        <ion-select formControlName="state" name="state">
          <ion-option *ngFor="let state of states" value="{{state._id}}">{{state.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="profile-setting">
        <ion-label floating class="">City</ion-label>
        <ion-input autoscrollElement type="text" formControlName="city" name="city"></ion-input>
        <ion-icon *ngIf="(briffSurveyForm.controls.city.hasError('required') && briffSurveyForm.controls.city.touched) || (briffSurveyForm.controls.city.hasError('required') && submitAttempt)"
          ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
        <ion-icon *ngIf="(briffSurveyForm.controls.city.valid && briffSurveyForm.controls.city.touched) || (briffSurveyForm.controls.city.valid && submitAttempt)"
          ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
      </ion-item>
      <ion-item class="togglech profile-setting">
        <ion-label text-wrap>Did the customer understand the difference between Comprehensive (Targeted Therapy) and Immune Report Card (Immunotherapy)?
          <div class="toggle-status s1">{{ (briffSurveyForm.value.diff_btw_therapy_nd_immuno == true) ? 'Yes' : 'No' }}</div>
        </ion-label>
        <ion-toggle ion-toggle-text formControlName="diff_btw_therapy_nd_immuno"></ion-toggle>
      </ion-item>
      <ion-item class="togglech profile-setting">
        <ion-label text-wrap>The customer asked if it was possible to perform both Comprehensive and Immune Report Card for an individual patient?
            <div class="toggle-status s2">{{ (briffSurveyForm.value.perform == true) ? 'Yes' : 'No' }}</div>
        </ion-label>        
        <ion-toggle formControlName="perform"></ion-toggle>
      </ion-item>
      <ion-item class="togglech profile-setting">
        <ion-label text-wrap>Did the customer ask the price for the tests individually?
            <div class="toggle-status s3">{{ (briffSurveyForm.value.asked_price_individually == true) ? 'Yes' : 'No' }}</div>
        </ion-label>
        <ion-toggle formControlName="asked_price_individually"></ion-toggle>
      </ion-item>
      <ion-item class="togglech profile-setting">
        <ion-label text-wrap>Did the customer ask for the price for both tests combined?
            <div class="toggle-status s4">{{ (briffSurveyForm.value.asked_price_combine == true) ? 'Yes' : 'No' }}</div>
        </ion-label>
        <ion-toggle formControlName="asked_price_combine"></ion-toggle>
      </ion-item>
      <div class="togglech profile-setting square-box">
        <ion-item class="profile-setting">
          <ion-label text-wrap>The customer asked about insurance coverage for the tests?
              <div class="toggle-status s5">{{ (briffSurveyForm.value.insurance_coverage == true) ? 'Yes' : 'No' }}</div>
          </ion-label>
          <ion-toggle formControlName="insurance_coverage"></ion-toggle>
        </ion-item>
        <ion-item class="profile-setting">
          <ion-label floating class="">Notes</ion-label>
          <ion-input autoscrollElement type="text" formControlName="insurance_coverage_notes" name="insurance_coverage_notes"></ion-input>
          <ion-icon *ngIf="(briffSurveyForm.controls.insurance_coverage_notes.hasError('required') && briffSurveyForm.controls.insurance_coverage_notes.touched) || (briffSurveyForm.controls.insurance_coverage_notes.hasError('required') && submitAttempt)"
            ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
          <ion-icon *ngIf="(briffSurveyForm.controls.insurance_coverage_notes.valid && briffSurveyForm.controls.insurance_coverage_notes.touched) || (briffSurveyForm.controls.insurance_coverage_notes.valid && submitAttempt)"
            ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
        </ion-item>
      </div>
      <div class="togglech profile-setting square-box">
        <ion-item class="profile-setting">
          <ion-label text-wrap>The customer provided feedback on the report format(s).
              <div class="toggle-status s6">{{ (briffSurveyForm.value.provided_feedback == true) ? 'Yes' : 'No' }}</div>
          </ion-label>
          <ion-toggle formControlName="provided_feedback"></ion-toggle>
        </ion-item>
        <ion-item class="profile-setting">
          <ion-label floating class="">Notes</ion-label>
          <ion-input autoscrollElement type="text" formControlName="provided_feedback_notes" name="provided_feedback_notes"></ion-input>
          <ion-icon *ngIf="(briffSurveyForm.controls.provided_feedback_notes.hasError('required') && briffSurveyForm.controls.provided_feedback_notes.touched) || (briffSurveyForm.controls.provided_feedback_notes.hasError('required') && submitAttempt)"
            ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
          <ion-icon *ngIf="(briffSurveyForm.controls.provided_feedback_notes.valid && briffSurveyForm.controls.provided_feedback_notes.touched) || (briffSurveyForm.controls.provided_feedback_notes.valid && submitAttempt)"
            ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
        </ion-item>
      </div>
      <div class="togglech profile-setting square-box">
        <ion-item class="profile-setting">
          <ion-label text-wrap>The customer expressed interested in clinical trial opportunities.
              <div class="toggle-status s7">{{ (briffSurveyForm.value.clinic_trial_interess == true) ? 'Yes' : 'No' }}</div>
          </ion-label>
          <ion-toggle formControlName="clinic_trial_interess"></ion-toggle>
        </ion-item>
        <ion-item class="profile-setting">
          <ion-label floating class="">Notes</ion-label>
          <ion-input autoscrollElement type="text" formControlName="clinic_trial_interess_notes" name="clinic_trial_interess_notes"></ion-input>
          <ion-icon *ngIf="(briffSurveyForm.controls.clinic_trial_interess_notes.hasError('required') && briffSurveyForm.controls.clinic_trial_interess_notes.touched) || (briffSurveyForm.controls.clinic_trial_interess_notes.hasError('required') && submitAttempt)"
            ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
          <ion-icon *ngIf="(briffSurveyForm.controls.clinic_trial_interess_notes.valid && briffSurveyForm.controls.clinic_trial_interess_notes.touched) || (briffSurveyForm.controls.clinic_trial_interess_notes.valid && submitAttempt)"
            ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
        </ion-item>
      </div>
      <div class="togglech profile-setting square-box">
        <ion-item class="profile-setting">
          <ion-label text-wrap>The customer expressed interest in using the report as a rule out to consider patients for chemotherapy.
              <div class="toggle-status s8">{{ (briffSurveyForm.value.ruleout_report_chemotherapy == true) ? 'Yes' : 'No' }}</div>
          </ion-label>
          <ion-toggle formControlName="ruleout_report_chemotherapy"></ion-toggle>
        </ion-item>
        <ion-item class="profile-setting">
          <ion-label floating class="">Notes</ion-label>
          <ion-input autoscrollElement type="text" formControlName="ruleout_report_chemotherapy_notes" name="ruleout_report_chemotherapy_notes"></ion-input>
          <ion-icon *ngIf="(briffSurveyForm.controls.ruleout_report_chemotherapy_notes.hasError('required') && briffSurveyForm.controls.ruleout_report_chemotherapy_notes.touched) || (briffSurveyForm.controls.ruleout_report_chemotherapy_notes.hasError('required') && submitAttempt)"
            ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
          <ion-icon *ngIf="(briffSurveyForm.controls.ruleout_report_chemotherapy_notes.valid && briffSurveyForm.controls.ruleout_report_chemotherapy_notes.touched) || (briffSurveyForm.controls.ruleout_report_chemotherapy_notes.valid && submitAttempt)"
            ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
        </ion-item>
      </div>
      <div class="togglech profile-setting square-box">
        <ion-item class="profile-setting">
          <ion-label text-wrap>The customer expressed interest in using the report as a rule out to consider patients for radiation.
              <div class="toggle-status s9">{{ (briffSurveyForm.value.ruleout_report_radiation == true) ? 'Yes' : 'No' }}</div>
          </ion-label>
          <ion-toggle formControlName="ruleout_report_radiation"></ion-toggle>
        </ion-item>
        <ion-item class="profile-setting">
          <ion-label floating class="">Notes</ion-label>
          <ion-input autoscrollElement type="text" formControlName="ruleout_report_radiation_notes" name="ruleout_report_radiation_notes"></ion-input>
          <ion-icon *ngIf="(briffSurveyForm.controls.ruleout_report_radiation_notes.hasError('required') && briffSurveyForm.controls.ruleout_report_radiation_notes.touched) || (briffSurveyForm.controls.ruleout_report_radiation_notes.hasError('required') && submitAttempt)"
            ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
          <ion-icon *ngIf="(briffSurveyForm.controls.ruleout_report_radiation_notes.valid && briffSurveyForm.controls.ruleout_report_radiation_notes.touched) || (briffSurveyForm.controls.ruleout_report_radiation_notes.valid && submitAttempt)"
            ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
        </ion-item>
      </div>
      <div class="togglech profile-setting square-box">
        <ion-item class="profile-setting">
          <ion-label text-wrap>The customer compared the tests to competitors.
              <div class="toggle-status s10">{{ (briffSurveyForm.value.compared_test_to_competitors == true) ? 'Yes' : 'No' }}</div>
          </ion-label>
          <ion-toggle formControlName="compared_test_to_competitors"></ion-toggle>
        </ion-item>
        <ion-item class="profile-setting">
          <ion-label floating class="">Competitor</ion-label>
          <ion-select multiple="true" formControlName="Competitor" name="Competitor">
            <ion-option value="{{com.name}}" *ngFor="let com of competitors">{{com.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="profile-setting">
          <ion-label floating class="">Notes</ion-label>
          <ion-input autoscrollElement type="text" formControlName="compared_test_to_competitors_notes" name="compared_test_to_competitors_notes"></ion-input>
          <ion-icon *ngIf="(briffSurveyForm.controls.compared_test_to_competitors_notes.hasError('required') && briffSurveyForm.controls.compared_test_to_competitors_notes.touched) || (briffSurveyForm.controls.compared_test_to_competitors_notes.hasError('required') && submitAttempt)"
            ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
          <ion-icon *ngIf="(briffSurveyForm.controls.compared_test_to_competitors_notes.valid && briffSurveyForm.controls.compared_test_to_competitors_notes.touched) || (briffSurveyForm.controls.compared_test_to_competitors_notes.valid && submitAttempt)"
            ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
        </ion-item>
      </div>
    </ion-col>
    <ion-row>
      <ion-col>
        <button ion-button padding text-center class="signup-button" (click)="submitSurvey()">Submit</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>