<ion-header>
  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="loginForm">
    <ion-row class="form-padding">
      <ion-col>
        <div inset class="main-div">
          <ion-item >
            <ion-label floating class="label-title">Mobile Number</ion-label>
            <ion-input autoscrollElement autocapitalize="off" type="tel" formControlName="mobilenumber" name="mobilenumber" class="input-text-color"></ion-input>
            <ion-icon *ngIf="((loginForm.controls.mobilenumber.hasError('required') || loginForm.controls.mobilenumber.hasError('pattern')) && loginForm.controls.mobilenumber.touched) || ((loginForm.controls.mobilenumber.hasError('required') || loginForm.controls.mobilenumber.hasError('pattern')) && submitAttempt)" ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
            <ion-icon *ngIf="(loginForm.controls.mobilenumber.valid && loginForm.controls.mobilenumber.touched) || (loginForm.controls.mobilenumber.valid && submitAttempt)" ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
          </ion-item>           
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button (click)="login()" ion-button padding text-center class="login-button">Login</button>
      </ion-col>
    </ion-row>
  </form>
  <ion-row>
    <ion-col>
      <div padding text-center class="forgot-password">          
        <span (click)="goToForgotPwd()" class="secondary-color">Forgot Password ?</span> <span class="primary-color">|</span> <span (click)="goToReg()" class="secondary-color">Register</span>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
