page-quiz-congratulation {
    .item-inner {
        border-bottom: none !important;
    }
    p{
        color: #1a5293 !important;
        font-weight: 600 !important;
        font-size: 2.0rem !important;
    }
    .resultMsg{
        color: #727272
    }
    .totalPoints{
        color: rgba(30,150,40,1) !important;
    }
}
