page-genedetail {
    .geneImg{
        width: 320px;
        margin: 0 auto;
        height: auto;
        position: relative;
    }
    .stageTxt{
        color: #000;
        position: absolute;
        border: 2px solid #1a5293;
        padding: 10px;
        box-shadow: 2px 2px 1px #ccc;      
    }
    .stageTxt.stage7 {        
        top: 80%;
        right: 11%;
    }
    .stageTxt.stage6 {        
        top: 70%;
        right: 10%;
    }    
    .stageTxt.stage5 {        
        top: 90px;
        right: 10px;
    }
    .stageTxt.stage4 {
        right: 59px;
        top: 10px;
    }
    .stageTxt.stage3 {
        top: 10px;
    }
    .stageTxt.stage2 {
        top: 100px;
        left: 0;
    }
    .stageTxt.stage1 {
        top: 90%;
        left: 15%;
    }
}
