<ion-header>
  <ion-navbar>
    <ion-title>Notifications</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="body-content">
  <ion-row>
    <ion-col>
      <ion-item class="settingBtn" *ngFor="let list of notiList" (click)="viewDetails(list)">
        <p class="marker" text-wrap>
          <img class="dotListIcon" /> {{list.message}}</p>
      </ion-item>
    </ion-col>
  </ion-row>
  <div *ngIf="showMe">
    <ion-list padding *ngIf="notiList.length == 0">
      <ion-item class="noRecordFoundImg" padding-top>
        <img class="noRecordFound">
      </ion-item>
    </ion-list>
  </div>
</ion-content>