<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cancer Immune Cycle</ion-title>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="searchText.name" (ionInput)="search(searchText.name)" debounce=500 placeholder="Search Gene/Marker/Functionality"></ion-searchbar>
</ion-header>
<ion-content class="body-content" padding>
  <ion-row>
    <ion-col>
      <ion-item class="profile-setting" text-center>
        <div class="background_section">
          <div *ngIf="geneList.stage3.length>0" class="stage3">
            <span *ngFor="let marker of geneList.stage3; let last = last;" [ngClass]="{'stage_bold': marker.target==1}">{{marker.marker}}{{(!last)?',':''}}</span>
          </div>

          <div *ngIf="geneList.stage4.length>0" class="stage4">
            <span *ngFor="let marker of geneList.stage4; let last = last;" [ngClass]="{'stage_bold': marker.target==1}">{{marker.marker}}{{(!last)?',':''}}</span>
          </div>

          <div *ngIf="geneList.stage5.length>0" class="stage5">
            <span *ngFor="let marker of geneList.stage5; let last = last;" [ngClass]="{'stage_bold': marker.target==1}">{{marker.marker}}{{(!last)?',':''}}</span>
          </div>

          <div *ngIf="geneList.stage6.length>0" class="stage6">
            <span *ngFor="let marker of geneList.stage6; let last = last;" [ngClass]="{'stage_bold': marker.target==1}">{{marker.marker}}{{(!last)?',':''}}</span>
          </div>

          <div *ngIf="geneList.stage7.length>0" class="stage7">
            <span *ngFor="let marker of geneList.stage7; let last = last;" [ngClass]="{'stage_bold': marker.target==1}">{{marker.marker}}{{(!last)?',':''}}</span>
          </div>

          <div *ngIf="geneList.stage1.length>0" class="stage1">
            <span *ngFor="let marker of geneList.stage1; let last = last;" [ngClass]="{'stage_bold': marker.target==1}">{{marker.marker}}{{(!last)?',':''}}</span>
          </div>

          <div *ngIf="geneList.stage2.length>0" class="stage2">
            <span *ngFor="let marker of geneList.stage2; let last = last;" [ngClass]="{'stage_bold': marker.target==1}">{{marker.marker}}{{(!last)?',':''}}</span>
          </div>

        </div>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>