<ion-header>
  <ion-navbar>
    <ion-title>Videos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="body-content">
  <ion-searchbar [(ngModel)]="searchText.title" (ionInput)="searchevideos(searchText.title)" debounce=500 placeholder="Search video Episode"></ion-searchbar>
  <ion-list>
    <ion-item class="settingBtn" *ngFor="let video of videos; let i=index;">
      <ion-avatar (click)="currentTrack = video;playAudio(i);inItTrack = true;" item-left>
        <img src="{{video.art}}">
      </ion-avatar>
      <p (click)="goToVideoDetail(video)" class="topic-title">{{video.title}}</p>
      <span class="uploaded">{{video.date}}</span>
      <p (click)="goToVideoDetail(video)" class="topic-desc">{{video.desc}}</p>
      <!-- <span class="duration">{{millisToMinutesAndSeconds(video.totalDuration)}}</span> -->
    </ion-item>
  </ion-list>
  <div *ngIf="showMe">
    <ion-list padding *ngIf="videos.length == 0">
      <ion-item style="border-bottom:0 !important;" class="noRecordFoundImg" padding-top>
        <img class="noRecordFound">
      </ion-item>
    </ion-list>
  </div>
  <ion-infinite-scroll *ngIf="videos.length !== totalRecords" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
