<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="custom-navbutton"></ion-icon>
    </button>
    <ion-title>Gene/Marker</ion-title>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="searchText.name"
  (ionInput)="search(searchText.name)"
  debounce=500 placeholder="Search Gene/Marker/Functionality"></ion-searchbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col>
      <ion-item class="settingBtn" *ngFor="let list of geneList" (click)="selectme(list)">
        <p class="marker"><ion-icon name="egg" class="dotListIcon"></ion-icon>{{list.marker}} / {{list.name}}</p>
        <p class="function">{{list.biological_function}}</p>
        <p>{{list.mechanism_of_action}}</p>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-list padding *ngIf="geneList.length == 0">
      <ion-item padding-top>
          <img src="assets/images/no-record.png">
      </ion-item>
  </ion-list>
</ion-content>