<ion-header>
  <ion-navbar>
    <ion-title>Change Password</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="changePwdForm">
    <ion-row class="form-padding">
      <ion-col>
          <ion-item>
              <ion-label floating>Current Password</ion-label>
              <ion-input type="password" formControlName="current_password" name="current_password"></ion-input>
              <ion-icon *ngIf="(changePwdForm.controls.current_password.hasError('required') && changePwdForm.controls.current_password.touched) || (changePwdForm.controls.current_password.hasError('required') && submitAttempt)" ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
              <ion-icon *ngIf="(changePwdForm.controls.current_password.valid && changePwdForm.controls.current_password.touched) || (changePwdForm.controls.current_password.valid && submitAttempt)" ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label floating>New Password</ion-label>
            <ion-input type="password" formControlName="password" name="password"></ion-input>
            <ion-icon *ngIf="(changePwdForm.controls.password.hasError('required') && changePwdForm.controls.password.touched) || (changePwdForm.controls.password.hasError('required') && submitAttempt)" ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
            <ion-icon *ngIf="(changePwdForm.controls.password.valid && changePwdForm.controls.password.touched) || (changePwdForm.controls.password.valid && submitAttempt)" ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label floating>Confirm Password</ion-label>
            <ion-input (keyup)="onConfChange()" type="password" formControlName="conf_password" name="conf_password"></ion-input>
            <ion-icon *ngIf="(!confirmValid && changePwdForm.controls.conf_password.touched) || (!confirmValid && submitAttempt)" ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
            <ion-icon *ngIf="(confirmValid && changePwdForm.controls.conf_password.touched) || (confirmValid && submitAttempt)" ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button padding text-center class="save-button" (click)="changePwd()">Save</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
