<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Companion / Complementary Dx</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="body-content" padding>
  <ion-grid *ngIf="companyList && showMe">
    <ion-row>
      <ion-col col-6 *ngFor="let comp of companyList; let i = index;" (click)="goToDetail(comp._id)">
        <ion-card class="companion-card">
          <div class="card-img-border">
            <img src="{{ isOnline ? comp.logo : fileDir+imageName(comp.logo) }}" />
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="showMe">
    <ion-list padding *ngIf="companyList.length == 0">
      <ion-item class="noRecordFoundImg" padding-top>
        <img class="noRecordFound" />
      </ion-item>
    </ion-list>
  </div>
</ion-content>