page-welcome {
    .scroll-content {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .item-inner{
        border-bottom: 0 !important;
    }
    img{
        width: 80%;
    }
    .call-brief{
        font-weight: bold;
        font-size: x-large;
    }
    .toolbar-background {
        background-color: #fff !important;
    }
    .header-img{
        margin-top: 8px;
    }
    .coming-soon{
        font-weight: 500;
    }
}
