page-cancertype {
    .call-brief{
        font-weight: bold;
        font-size: 1.8rem;;
    }
    .call-brief-item{
        border: 1px solid #cccccc;
        margin-bottom: 6px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .item-md.item-block .item-inner{
        border-bottom:1px solid #fff;
    }
}
