<ion-header>
  <ion-navbar>
    <ion-title>Business Development Survey</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="body-content">
  <form [formGroup]="BussinessDevSurveyForm">
    <ion-col>
      <ion-item class="profile-setting">
        <ion-label floating>Contact Name</ion-label>
        <ion-input autoscrollElement type="text" formControlName="contact_name" name="contact_name"></ion-input>
        <ion-icon *ngIf="((BussinessDevSurveyForm.controls.contact_name.hasError('required') || BussinessDevSurveyForm.controls.contact_name.hasError('maxlength') || BussinessDevSurveyForm.controls.contact_name.hasError('pattern')) && BussinessDevSurveyForm.controls.contact_name.touched) || ((BussinessDevSurveyForm.controls.contact_name.hasError('required') || BussinessDevSurveyForm.controls.contact_name.hasError('maxlength') || BussinessDevSurveyForm.controls.contact_name.hasError('pattern')) && submitAttempt)"
          ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
        <ion-icon *ngIf="(BussinessDevSurveyForm.controls.contact_name.valid && BussinessDevSurveyForm.controls.contact_name.touched) || (BussinessDevSurveyForm.controls.contact_name.valid && submitAttempt)"
          ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
      </ion-item>
      <ion-item class="profile-setting">
        <ion-label floating>Institute</ion-label>
        <ion-input autoscrollElement type="text" formControlName="institution" name="institution"></ion-input>
        <ion-icon *ngIf="(BussinessDevSurveyForm.controls.institution.hasError('required') && BussinessDevSurveyForm.controls.institution.touched) || (BussinessDevSurveyForm.controls.institution.hasError('required') && submitAttempt)"
          ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
        <ion-icon *ngIf="(BussinessDevSurveyForm.controls.institution.valid && BussinessDevSurveyForm.controls.institution.touched) || (BussinessDevSurveyForm.controls.institution.valid && submitAttempt)"
          ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
      </ion-item>
      <ion-item class="profile-setting">
        <ion-label floating class="">Address</ion-label>
        <ion-input autoscrollElement type="text" formControlName="address" name="address"></ion-input>
        <ion-icon *ngIf="(BussinessDevSurveyForm.controls.address.hasError('required') && BussinessDevSurveyForm.controls.address.touched) || (BussinessDevSurveyForm.controls.address.hasError('required') && submitAttempt)"
          ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
        <ion-icon *ngIf="(BussinessDevSurveyForm.controls.address.valid && BussinessDevSurveyForm.controls.address.touched) || (BussinessDevSurveyForm.controls.address.valid && submitAttempt)"
          ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
      </ion-item>
      <ion-item class="phone-item profile-setting">
        <ion-label floating>Phone Number</ion-label>
        <span item-left class="phone-code">+1</span>
        <ion-input type="tel" formControlName="phone" name="phone"></ion-input>
        <ion-icon *ngIf="((BussinessDevSurveyForm.controls.phone.hasError('required') || BussinessDevSurveyForm.controls.phone.hasError('minlength') || BussinessDevSurveyForm.controls.phone.hasError('maxlength')) && BussinessDevSurveyForm.controls.phone.touched) || ((BussinessDevSurveyForm.controls.phone.hasError('required') || BussinessDevSurveyForm.controls.phone.hasError('maxlength') || BussinessDevSurveyForm.controls.phone.hasError('minlength')) && submitAttempt)"
          ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
        <ion-icon *ngIf="(BussinessDevSurveyForm.controls.phone.valid && BussinessDevSurveyForm.controls.phone.touched) || (BussinessDevSurveyForm.controls.phone.valid && submitAttempt)"
          ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top class="trueIcon" color="primary"></ion-icon>
      </ion-item>
      <ion-item class="profile-setting">
        <ion-label floating class="">Zip Code</ion-label>
        <ion-input autoscrollElement type="tel" formControlName="zipcode" name="zipcode"></ion-input>
        <ion-icon *ngIf="((BussinessDevSurveyForm.controls.zipcode.hasError('required') || BussinessDevSurveyForm.controls.zipcode.hasError('minlength') || BussinessDevSurveyForm.controls.zipcode.hasError('maxlength')) && BussinessDevSurveyForm.controls.zipcode.touched) || ((BussinessDevSurveyForm.controls.zipcode.hasError('required') || BussinessDevSurveyForm.controls.zipcode.hasError('maxlength') || BussinessDevSurveyForm.controls.zipcode.hasError('minlength')) && submitAttempt)"
        ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
        <ion-icon *ngIf="(BussinessDevSurveyForm.controls.zipcode.valid && BussinessDevSurveyForm.controls.zipcode.touched) || (BussinessDevSurveyForm.controls.zipcode.valid && submitAttempt)"
          ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
      </ion-item>
      <ion-item class="togglech profile-setting">
        <ion-label text-wrap>Can we or LabCorp follow up?
        </ion-label>
        <ion-toggle ion-toggle-text formControlName="type"></ion-toggle>
      </ion-item>
      <ion-item class="profile-setting">
        <ion-label floating class="">Clinic Type</ion-label>
        <ion-select formControlName="clinic_type" name="clinic_type">
          <ion-option value="Pathology">Pathology</ion-option>
          <ion-option value="Oncology">Oncology</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="profile-setting">
        <ion-label floating class="">Collaboration Opportunity</ion-label>
        <ion-select formControlName="collaboration_type" name="collaboration_type">
          <ion-option value="Academic">Academic</ion-option>
          <ion-option value="Pharma">Pharma</ion-option>
          <ion-option value="Industry">Industry</ion-option>
        </ion-select>
      </ion-item>
      <div *ngIf="BussinessDevSurveyForm.value.collaboration_type == 'Academic'">
        <ion-item class="profile-setting">
          <ion-label floating>Sample Type</ion-label>
          <ion-input autoscrollElement type="text" formControlName="sample_type" name="sample_type"></ion-input>
          <!-- <ion-icon *ngIf="((BussinessDevSurveyForm.controls.sample_type.hasError('required') || BussinessDevSurveyForm.controls.sample_type.hasError('maxlength') || BussinessDevSurveyForm.controls.sample_type.hasError('pattern')) && BussinessDevSurveyForm.controls.sample_type.touched) || ((BussinessDevSurveyForm.controls.sample_type.hasError('required') || BussinessDevSurveyForm.controls.sample_type.hasError('maxlength') || BussinessDevSurveyForm.controls.sample_type.hasError('pattern')) && submitAttempt)"
            ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
          <ion-icon *ngIf="(BussinessDevSurveyForm.controls.sample_type.valid && BussinessDevSurveyForm.controls.sample_type.touched) || (BussinessDevSurveyForm.controls.sample_type.valid && submitAttempt)"
            ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon> -->
        </ion-item>
        <ion-item class="profile-setting">
          <ion-label floating>Number of Samples</ion-label>
          <ion-input autoscrollElement type="number" formControlName="sample_count" name="sample_count"></ion-input>
          <!-- <ion-icon *ngIf="((BussinessDevSurveyForm.controls.sample_count.hasError('required') || BussinessDevSurveyForm.controls.sample_count.hasError('maxlength') || BussinessDevSurveyForm.controls.sample_count.hasError('pattern')) && BussinessDevSurveyForm.controls.sample_count.touched) || ((BussinessDevSurveyForm.controls.sample_count.hasError('required') || BussinessDevSurveyForm.controls.sample_count.hasError('maxlength') || BussinessDevSurveyForm.controls.sample_count.hasError('pattern')) && submitAttempt)"
            ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
          <ion-icon *ngIf="(BussinessDevSurveyForm.controls.sample_count.valid && BussinessDevSurveyForm.controls.sample_count.touched) || (BussinessDevSurveyForm.controls.sample_count.valid && submitAttempt)"
            ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon> -->
        </ion-item>
        <ion-item class="profile-setting">
          <ion-label floating>Additional Notes</ion-label>
          <ion-input autoscrollElement type="text" formControlName="note" name="note"></ion-input>
          <ion-icon *ngIf="((BussinessDevSurveyForm.controls.note.hasError('required') || BussinessDevSurveyForm.controls.note.hasError('maxlength') || BussinessDevSurveyForm.controls.note.hasError('pattern')) && BussinessDevSurveyForm.controls.note.touched) || ((BussinessDevSurveyForm.controls.note.hasError('required') || BussinessDevSurveyForm.controls.note.hasError('maxlength') || BussinessDevSurveyForm.controls.note.hasError('pattern')) && submitAttempt)"
            ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
          <ion-icon *ngIf="(BussinessDevSurveyForm.controls.note.valid && BussinessDevSurveyForm.controls.note.touched) || (BussinessDevSurveyForm.controls.note.valid && submitAttempt)"
            ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
        </ion-item>
      </div>
      <div *ngIf="BussinessDevSurveyForm.value.collaboration_type == 'Pharma'">
        <ion-item class="profile-setting">
          <ion-label floating class="">Type of work</ion-label>
          <ion-select formControlName="type_of_work" name="type_of_work">
            <ion-option value="Trial enrichment">Trial enrichment</ion-option>
            <ion-option value="Development">Development</ion-option>
            <ion-option value="Translational">Translational</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="profile-setting">
          <ion-label floating>Number of sites</ion-label>
          <ion-input autoscrollElement type="number" formControlName="site_count" name="site_count"></ion-input>
          <!-- <ion-icon *ngIf="((BussinessDevSurveyForm.controls.site_count.hasError('required') || BussinessDevSurveyForm.controls.site_count.hasError('maxlength') || BussinessDevSurveyForm.controls.site_count.hasError('pattern')) && BussinessDevSurveyForm.controls.site_count.touched) || ((BussinessDevSurveyForm.controls.site_count.hasError('required') || BussinessDevSurveyForm.controls.site_count.hasError('maxlength') || BussinessDevSurveyForm.controls.site_count.hasError('pattern')) && submitAttempt)"
            ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
          <ion-icon *ngIf="(BussinessDevSurveyForm.controls.site_count.valid && BussinessDevSurveyForm.controls.site_count.touched) || (BussinessDevSurveyForm.controls.site_count.valid && submitAttempt)"
            ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon> -->
        </ion-item>
        <ion-item class="profile-setting">
          <ion-label floating>Additional Notes</ion-label>
          <ion-input autoscrollElement type="text" formControlName="note" name="note"></ion-input>
          <ion-icon *ngIf="((BussinessDevSurveyForm.controls.note.hasError('required') || BussinessDevSurveyForm.controls.note.hasError('maxlength') || BussinessDevSurveyForm.controls.note.hasError('pattern')) && BussinessDevSurveyForm.controls.note.touched) || ((BussinessDevSurveyForm.controls.note.hasError('required') || BussinessDevSurveyForm.controls.note.hasError('maxlength') || BussinessDevSurveyForm.controls.note.hasError('pattern')) && submitAttempt)"
            ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
          <ion-icon *ngIf="(BussinessDevSurveyForm.controls.note.valid && BussinessDevSurveyForm.controls.note.touched) || (BussinessDevSurveyForm.controls.note.valid && submitAttempt)"
            ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
        </ion-item>
      </div>
      <div *ngIf="BussinessDevSurveyForm.value.collaboration_type == 'Industry'">
        <ion-item class="profile-setting">
          <ion-label floating>Type of Technology</ion-label>
          <ion-input autoscrollElement type="text" formControlName="type_of_tech" name="type_of_tech"></ion-input>
          <!-- <ion-icon *ngIf="((BussinessDevSurveyForm.controls.type_of_tech.hasError('required') || BussinessDevSurveyForm.controls.type_of_tech.hasError('maxlength') || BussinessDevSurveyForm.controls.type_of_tech.hasError('pattern')) && BussinessDevSurveyForm.controls.type_of_tech.touched) || ((BussinessDevSurveyForm.controls.type_of_tech.hasError('required') || BussinessDevSurveyForm.controls.type_of_tech.hasError('maxlength') || BussinessDevSurveyForm.controls.type_of_tech.hasError('pattern')) && submitAttempt)"
            ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
          <ion-icon *ngIf="(BussinessDevSurveyForm.controls.type_of_tech.valid && BussinessDevSurveyForm.controls.type_of_tech.touched) || (BussinessDevSurveyForm.controls.type_of_tech.valid && submitAttempt)"
            ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon> -->
        </ion-item>
        <ion-item class="profile-setting">
          <ion-label floating>Type of work requested</ion-label>
          <ion-input autoscrollElement type="text" formControlName="type_of_work_req" name="type_of_work_req"></ion-input>
          <!-- <ion-icon *ngIf="((BussinessDevSurveyForm.controls.type_of_work_req.hasError('required') || BussinessDevSurveyForm.controls.type_of_work_req.hasError('maxlength') || BussinessDevSurveyForm.controls.type_of_work_req.hasError('pattern')) && BussinessDevSurveyForm.controls.type_of_work_req.touched) || ((BussinessDevSurveyForm.controls.type_of_work_req.hasError('required') || BussinessDevSurveyForm.controls.type_of_work_req.hasError('maxlength') || BussinessDevSurveyForm.controls.type_of_work_req.hasError('pattern')) && submitAttempt)"
            ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
          <ion-icon *ngIf="(BussinessDevSurveyForm.controls.type_of_work_req.valid && BussinessDevSurveyForm.controls.type_of_work_req.touched) || (BussinessDevSurveyForm.controls.type_of_work_req.valid && submitAttempt)"
            ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon> -->
        </ion-item>
        <ion-item class="profile-setting">
          <ion-label floating>Additional Notes</ion-label>
          <ion-input autoscrollElement type="text" formControlName="note" name="note"></ion-input>
          <ion-icon *ngIf="((BussinessDevSurveyForm.controls.note.hasError('required') || BussinessDevSurveyForm.controls.note.hasError('maxlength') || BussinessDevSurveyForm.controls.note.hasError('pattern')) && BussinessDevSurveyForm.controls.note.touched) || ((BussinessDevSurveyForm.controls.note.hasError('required') || BussinessDevSurveyForm.controls.note.hasError('maxlength') || BussinessDevSurveyForm.controls.note.hasError('pattern')) && submitAttempt)"
            ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
          <ion-icon *ngIf="(BussinessDevSurveyForm.controls.note.valid && BussinessDevSurveyForm.controls.note.touched) || (BussinessDevSurveyForm.controls.note.valid && submitAttempt)"
            ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
        </ion-item>
      </div>
    </ion-col>
    <ion-row>
      <ion-col>
        <button ion-button padding text-center class="signup-button" (click)="submitSurvey()">Submit</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
