<ion-header>
  <ion-navbar>
    <ion-title>Podcast Topics</ion-title>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="searchText.name" (ionInput)="search(searchText.name)" debounce=500 placeholder="Search Podcast Topic"></ion-searchbar>
</ion-header>
<ion-content class="body-content">
  <ion-list>
    <ion-item class="settingBtn" (click)="prodcastList(topic)" *ngFor="let topic of topics">
      <ion-avatar item-left>
        <img src="{{topic.imgUrl}}" onError="this.src='assets/images/default_user.png'">
      </ion-avatar>
      <p class="topic-title">{{topic.title}}</p>
      <p class="topic-desc">{{topic.desc}}</p>
    </ion-item>
  </ion-list>
  <div *ngIf="showMe">
    <ion-list padding *ngIf="topics.podcasts == 0">
      <ion-item class="noRecordFoundImg" padding-top>
        <img class="noRecordFound">
      </ion-item>
    </ion-list>
  </div>
  <ion-infinite-scroll *ngIf="prodcastList.length !== totalRecords" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
