<ion-content>
  <div padding padding-top id="cloud-layer">
    <ion-row class="login-logo">
      <ion-col>
        <div>
          <img src="assets/images/symbol.png" />
        </div>
        <h2 class="login-title">Welcome User</h2>
        <p class="sub-title" text-center>Signup to continue</p>
      </ion-col>
    </ion-row>
    <form [formGroup]="signupForm">
      <ion-row class="form-padding">
        <ion-col>
          <ion-row>
            <ion-col class="col-pad">
              <ion-item>
                <ion-label floating>First Name</ion-label>
                <ion-input autoscrollElement type="text" formControlName="firstname" name="firstname"></ion-input>
                <ion-icon *ngIf="((signupForm.controls.firstname.hasError('required') || signupForm.controls.firstname.hasError('maxlength') || signupForm.controls.firstname.hasError('pattern')) && signupForm.controls.firstname.touched) || ((signupForm.controls.firstname.hasError('required') || signupForm.controls.firstname.hasError('maxlength') || signupForm.controls.firstname.hasError('pattern')) && submitAttempt)"
                  ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
                <ion-icon *ngIf="(signupForm.controls.firstname.valid && signupForm.controls.firstname.touched) || (signupForm.controls.firstname.valid && submitAttempt)"
                  ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
              </ion-item>
            </ion-col>
            <ion-col class="col-pad">
              <ion-item>
                <ion-label floating>Last Name</ion-label>
                <ion-input autoscrollElement type="text" formControlName="lastname" name="lastname"></ion-input>
                <ion-icon *ngIf="((signupForm.controls.lastname.hasError('required') || signupForm.controls.lastname.hasError('maxlength') || signupForm.controls.lastname.hasError('pattern')) && signupForm.controls.lastname.touched) || ((signupForm.controls.lastname.hasError('required') || signupForm.controls.lastname.hasError('maxlength') || signupForm.controls.lastname.hasError('pattern')) && submitAttempt)"
                  ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
                <ion-icon *ngIf="(signupForm.controls.lastname.valid && signupForm.controls.lastname.touched) || (signupForm.controls.lastname.valid && submitAttempt)"
                  ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-item class="phone-item">
            <ion-label floating>Phone Number</ion-label>
            <span item-left class="phone-code">+1</span>
            <ion-input autoscrollElement type="tel" formControlName="phone" name="phone"></ion-input>
            <ion-icon *ngIf="((signupForm.controls.phone.hasError('pattern') || signupForm.controls.phone.hasError('required') || signupForm.controls.phone.hasError('minlength') || signupForm.controls.phone.hasError('maxlength')) && signupForm.controls.phone.touched) || ((signupForm.controls.phone.hasError('pattern') || signupForm.controls.phone.hasError('required') || signupForm.controls.phone.hasError('maxlength') || signupForm.controls.phone.hasError('minlength')) && submitAttempt)"
              ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
            <ion-icon *ngIf="(signupForm.controls.phone.valid && signupForm.controls.phone.touched) || (signupForm.controls.phone.valid && submitAttempt)"
              ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label floating>Institute</ion-label>
            <ion-input autoscrollElement type="text" formControlName="institution" name="institution"></ion-input>
            <ion-icon *ngIf="(signupForm.controls.institution.hasError('required') && signupForm.controls.institution.touched) || (signupForm.controls.institution.hasError('required') && submitAttempt)"
              ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
            <ion-icon *ngIf="(signupForm.controls.institution.valid && signupForm.controls.institution.touched) || (signupForm.controls.institution.valid && submitAttempt)"
              ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label floating class="">Position</ion-label>
            <ion-select autoscrollElement formControlName="position" name="position">
              <ion-option value="{{pos.name}}" selected *ngFor="let pos of positions">{{pos.name}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input autoscrollElement autocapitalize="off" type="text" formControlName="email" name="email"></ion-input>
            <ion-icon *ngIf="((signupForm.controls.email.hasError('required') || signupForm.controls.email.hasError('pattern')) && signupForm.controls.email.touched) || ((signupForm.controls.email.hasError('required') || signupForm.controls.email.hasError('pattern')) && submitAttempt)"
              ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
            <ion-icon *ngIf="(signupForm.controls.email.valid && signupForm.controls.email.touched) || (signupForm.controls.email.valid && submitAttempt)"
              ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input autoscrollElement type="password" formControlName="password" name="password"></ion-input>
            <ion-icon *ngIf="(signupForm.controls.password.hasError('required') && signupForm.controls.password.touched) || (signupForm.controls.password.hasError('required') && submitAttempt)"
              ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
            <ion-icon *ngIf="(signupForm.controls.password.valid && signupForm.controls.password.touched) || (signupForm.controls.password.valid && submitAttempt)"
              ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label floating>Confirm Password</ion-label>
            <ion-input autoscrollElement (keyup)="onConfChange()" type="password" formControlName="conf_password" name="conf_password"></ion-input>
            <ion-icon *ngIf="(!confirmValid && signupForm.controls.conf_password.touched) || (!confirmValid && submitAttempt)" ios="ios-close"
              md="md-close" item-right text-end padding-top color="danger"></ion-icon>
            <ion-icon *ngIf="(confirmValid && signupForm.controls.conf_password.touched) || (confirmValid && submitAttempt)" ios="ios-checkmark"
              md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button padding text-center class="signup-button" (click)="signup()">Signup</button>
        </ion-col>
      </ion-row>
    </form>
    <ion-row>
      <ion-col>
        <div padding text-center class="signup-btn">
          Already a User ?
          <strong (click)="goToLogin()">Login</strong>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>