<ion-content >
  <div id="cloud-layer" padding padding-top>
    <ion-row class="login-logo">
      <ion-col>
        <div>
          <img src="assets/images/symbol.png" />
        </div>
        <h2 class="login-title">Welcome User</h2>
        <p class="sub-title">Login to continue</p>
      </ion-col>
    </ion-row> 
    <form [formGroup]="loginForm">
      <ion-row class="form-padding">
        <ion-col>
          <div inset class="main-div">
            <ion-item >
              <ion-label floating class="label-title">Email address</ion-label>
              <ion-input autoscrollElement autocapitalize="off" type="text" formControlName="email" name="email" class="input-text-color"></ion-input>
              <ion-icon *ngIf="((loginForm.controls.email.hasError('required') || loginForm.controls.email.hasError('pattern')) && loginForm.controls.email.touched) || ((loginForm.controls.email.hasError('required') || loginForm.controls.email.hasError('pattern')) && submitAttempt)" ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
              <ion-icon *ngIf="(loginForm.controls.email.valid && loginForm.controls.email.touched) || (loginForm.controls.email.valid && submitAttempt)" ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
            </ion-item>
            <ion-item >
              <ion-label floating>Password</ion-label>
              <ion-input autoscrollElement type="password" formControlName="password" name="password" class="input-text-color"></ion-input>
              <ion-icon *ngIf="(loginForm.controls.password.hasError('required') && loginForm.controls.password.touched) || (loginForm.controls.password.hasError('required') && submitAttempt)" ios="ios-close" md="md-close" item-right text-end padding-top color="danger"></ion-icon>
              <ion-icon *ngIf="(loginForm.controls.password.valid && loginForm.controls.password.touched) || (loginForm.controls.password.valid && submitAttempt)" ios="ios-checkmark" md="md-checkmark" item-right text-end padding-top color="primary"></ion-icon>
            </ion-item>            
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button (click)="login()" ion-button padding text-center class="login-button">Login</button>
        </ion-col>
      </ion-row>
    </form>
    <ion-row>
      <ion-col>
        <div padding text-center class="forgot-password">          
          <span (click)="goToForgotPwd()" class="secondary-color">Forgot Password ?</span> <span class="primary-color">|</span> <span (click)="goToReg()" class="secondary-color">Register</span>
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <div padding text-center class="signup-btn" (click)="goToReg()">
          Don't have an account?
          <strong>Sign up now!</strong>
        </div>
      </ion-col>
    </ion-row> -->
  </div>
</ion-content>